body{
    background: white url("images/thanos-infinity-war.jpg")
}
.navbar{
    border-radius: 0;
}
.navbar-brand{
    font-family: 'Arial ', cursive;
}

ul {
    font-family: 'Satisfy ', cursive;
	list-style-type: none;
	font-size: 1em;
	padding: 0;
}
ul li{
    font-family: 'Satisfy ', cursive;
    color: blue;
	display: inline;
	margin-right: 5px;
	font-size: 1em;

}
ul li a{
    font-family: 'Satisfy ', cursive;
    color: blue;
	font-size: 1.2em;
	margin-right: 5px;
}
a {
    font-family: 'Satisfy ', cursive;
	color: blue;
	text-decoration: none;
}
button {
	color: purple;
	text-decoration: none;
	margin-top: 5px;
	font-size: 1.1em;
}
p {
	color: black;
	margin-top: 1px;
	font-size: 1.3em;
}