<! DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %} Vibes {% endblock %} </title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Satisfy'>
        <script scr="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script scr="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">

        <!-- Load the path to your static file-->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />


        <title>Apps</title>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Header-->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Items-->
                <div class="collapse navbar-collapse">
                    <a class="navbar-brand" href="/posts"style="font-size:20px" >Home</a>
                    <ul class="nav navbar-nav">
                        <li class="nav navbar-nav">
                            <a href="../music">
                                <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp;Music
                            </a>
                        </li>

                        <li class="nav navbar-nav">
                                <a href="../stock">
                                    <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>&nbsp;Stock
                                </a>
                        </li>
                        <li class="">
                                <a href="/ApiGeo">
                                    <span class="glyphicon glyphicon" aria-hidden="true"></span>&nbsp; ApiGeo
                                </a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search" method="GET" action="#">
                        <div class="form-group">
                            <input type="text" class="fomr-control" name="q" value="">
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                    </form>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                                <a href="/accounts/login/">
                                    <span class="glyphicon glyphicon-on" aria-hidden="true"></span>&nbsp; Login
                                </a>
                        </li>
                        <li class="">
                                <a href="/accounts/logout/">
                                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                                </a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>

    </head>
    <body>
        {% block content %}
        {% endblock %}

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        {% load static %}
        {% static "" as baseUrl %}
        <script src="{{ baseUrl }}/assets/js/vendor/popper.min.js"></script>
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        {% load static %}
        {% static "" as baseUrl %}
        <script>window.jQuery || document.write('<script src="{{ baseUrl }}/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        {% load static %}
        {% static "" as baseUrl %}
        <script src="{{ baseUrl }}/assets/js/vendor/popper.min.js"></script>

        {% load static %}
        {% static "" as baseUrl %}
        <script src="{{ baseUrl }}/assets/js/bootstrap.min.js"></script>
        {% load static %}
        {% static "" as baseUrl %}
        <script src="{{ baseUrl }}/assets/js/vendor/holder.min.js"></script>
        <script>
        Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: 'Thumbnail'
           });
        </script>

    </body>
<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">You've reached the end!</h5>

                <p class="grey-text text-lighten-4">Contact: Harrison@pythonprogramming.net.</p>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/support-donate/">Support this Website!</a></li>
                  <li><a class="grey-text text-lighten-3" href="/consulting/">Hire me</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/pythonprogramming.net/">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://twitter.com/sentdex">Twitter</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://plus.google.com/+sentdex">Google+</a></li>
                </ul>
              </div>
              <div class="col l4 offset-l2 s12">
                <h6 class="white-text">Legal stuff:</h6>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/about/tos/">Terms and Conditions</a></li>
                  <li><a class="grey-text text-lighten-3" href="/about/privacy-policy/">Privacy Policy</a></li>

                </ul>
              </div>
            </div>
          </div>
          <a href="https://xkcd.com/353/" target='blank'><p class="grey-text right" style='padding-right:10px'>Programming is a superpower.</p></a>
          <div class="footer-copyright">
            <div class="container">
            © OVER 9000! PythonProgramming.net

            </div>

          </div>
</footer>
</html>

