<div class="container" style="margin: 10px auto; width: 1100px; background-color: white; padding: 15px; border: 2px outset lightgrey;">
        <div id="header">
            <div id="header-logo" style="float: left;">
                <a href="/">
                    <span style="font-size: 26px;">La boutique de sport d'ELAO</span>
                </a>
            </div>
            <div id="header-navigation" style="float: right;"><a href="/">Home</a> | <a href="/admin">Admin</a></div>
        </div>
        {% block content %}
        {% endblock %}
</div